name: Startup-Fund-Bot
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1-5'
    - cron: '30 2 * * 1-5'
    - cron: '30 5 * * 1-5'
jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Libs
        run: pip install yfinance pandas_ta requests
      - name: Run Script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python main.py
