name: Startup-Fund-Bot
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1-5'
jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Libs
        run: |
          python -m pip install --upgrade pip
          pip install yfinance requests pandas
          pip install pandas-ta --no-dependencies  # 強制安裝，不檢查複雜的依賴關係
      - name: Run Script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python main.py
        
